// as background
.blue-badge {
  color: var(--white);
  background-color: var(--blue);
}

.indigo-badge {
    color: var(--white);
    background-color: var(--indigo);
}

.purple-badge {
    color: var(--white);
    background-color: var(--purple);
}

.pink-badge {
    color: var(--white);
    background-color: var(--pink);
}

.red-badge {
    color: var(--white);
    background-color: var(--red);
}

.orange-badge {
    color: var(--white);
    background-color: var(--orange);
}

.yellow-badge {
    color: var(--black);
    background-color: var(--yellow);
}

.green-badge {
    color: var(--white);
    background-color: var(--green);
}

.teal-badge {
    color: var(--white);
    background-color: var(--teal);
}

.cyan-badge {
    color: var(--white);
    background-color: var(--cyan);
}
